.popup__close-button {
  width: 32px;
  height: 32px;
  background-image: url("../../../images/buttons/close-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  position: absolute;
  right: -38px;
  top: -38px;
}
@media screen and (max-width: 728px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 0;
  }
}
