.popup__submit-button_inactiv {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  opacity: .2;
}
.popup__submit-button_inactiv:hover {
  opacity: .2;
  cursor: default;
}