.profile__add-button {
  margin-left: auto;
  width: 150px;
  height: 50px;
  background-image: url("../../../images/buttons/add-button.svg");
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 22px;
  border: white 2px solid;
  border-radius: 2px;
}
@media screen and (max-width: 728px) {
  .profile__add-button {
    width: 100%;
    max-width: 282px;
    margin: 36px 0 0;
    background-size: 16px;
  }
}
